name: Publish Vivace-ui To Npm

on:
  push:
    branches: [publish]
  pull_request:
    branches: [publish]

jobs:
  publish:
    runs-on: ubuntu-latest

    name: 'publish npm'

    environment: npm

    steps:
      - uses: actions/checkout@master
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.31.0
      - name: Install modules
        run: pnpm install
      - name: Build
        run: pnpm run build
      - name: 'Publish to the npm registry'
        uses: primer/publish@3.0.0
        env:
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
          # default_branch: 'publish'
          # dir: 'vivace-ui'
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org
